Cartopy
geopandas
geopy
h5py
HinetPy
HinetPy
Jinja2
lxml
matplotlib
netCDF4
netCDF4
networkx
numpy
obspy
pandas
pyproj
pyprop8
pyvista
Requests
scikit_learn
scipy
seissolxdmf
Shapely
tqdm
trimesh
vtk
git+https://github.com/krischer/instaseis@1b71b1f112f693dd7eb93e21fe82ada559e1954b
